// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.restaurant {
  border: 2px solid pink;
  border-radius: 15px;
  padding: 20px;
  margin: 10px auto;
}
