// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.game {
  border: 1px solid #FF004F;
  border-radius: 15px;
  color: orange;
  padding: 20px;
  margin: 10px 0;
}